In [38]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, RobustScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
sample = pd.read_csv('gender_submission.csv')

In [4]:
test['Source'] = 'test'
train['Source'] = 'train'

In [5]:
df = pd.concat([train, test])

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Source
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,train
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,train
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,train
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,train
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,test
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,test
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,test
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,test
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,test

In [53]:
dftest.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [52]:
dftest['Fare'] = dftest['Fare'].transform(lambda x: x.fillna(x.mean()))

<ipython-input-52-998753050c77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftest['Fare'] = dftest['Fare'].transform(lambda x: x.fillna(x.mean()))

In [19]:
del df['Ticket']

In [18]:
df['Sex'].value_counts()

1    843
0    466
Name: Sex, dtype: int64

In [17]:
df['Sex'] = df['Sex'].replace({'male' : 1, 'female': 0})

In [20]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Source
0,1,0.0,3,1,22.000000,1,0,7.2500,train
1,2,1.0,1,0,38.000000,1,0,71.2833,train
2,3,1.0,3,0,26.000000,0,0,7.9250,train
3,4,1.0,1,0,35.000000,1,0,53.1000,train
4,5,0.0,3,1,35.000000,0,0,8.0500,train
...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,1,29.881138,0,0,8.0500,test
414,1306,NaN,1,0,39.000000,0,0,108.9000,test
415,1307,NaN,3,1,38.500000,0,0,7.2500,test
416,1308,NaN,3,1,29.881138,0,0,8.0500,test
417,1309,NaN,3,1,29.881138,1,1,22.3583,test

In [21]:
dftrain = df[df['Source'] ==  'train']
dftest = df[df['Source'] ==  'test']

In [22]:
del dftrain['Source']
del dftest['Source']

In [23]:
dfy = dftrain.pop('Survived')

In [25]:
del dftest['Survived']

In [49]:
strain.shape
stest.shape

(418, 7)

In [79]:
scaler  = StandardScaler()
strain = scaler.fit_transform(dftrain)
stest = scaler.fit_transform(dftest)

In [80]:
Mn = MultinomialNB()
Mn.fit(dftrain , dfy)
Mnpred = Mn.predict(dftest)
Mntrain = Mn.predict(dftrain)
accuracy_score(dfy, Mntrain)

0.6632996632996633

In [81]:
Bn = BernoulliNB()
Bn.fit(strain , dfy)
Bnpred = Bn.predict(stest)
Bntrain = Bn.predict(strain)
accuracy_score(dfy, Bntrain)

0.7586980920314254

In [82]:
Gn = GaussianNB()
Gn.fit(strain , dfy)
Gnpred = Gn.predict(stest)
Gntrain = Gn.predict(strain)
accuracy_score(dfy, Gntrain)

0.7934904601571269

In [83]:
lr = LogisticRegression()
lr.fit(strain , dfy)
lrpred = lr.predict(stest)
lrtrain = lr.predict(strain)
accuracy_score(dfy, lrtrain)

0.7968574635241302

In [84]:
Kn = KNeighborsClassifier(n_neighbors = 3, metric = 'manhattan', weights = 'distance', n_jobs = -1)
Kn.fit(strain , dfy)
Knpred = Kn.predict(stest)
Kntrain = Kn.predict(strain)
accuracy_score(dfy, Kntrain)

1.0

In [85]:
sample

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
..           ...       ...
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]

In [87]:
sample['Survived'] = Gnpred

In [88]:
sample.to_csv('ans4.csv')

In [86]:
tr = tree.DecisionTreeClassifier()
tr.fit(strain , dfy)
trpred = tr.predict(stest)
trtrain = tr.predict(strain)
accuracy_score(dfy, trtrain)

1.0